// @import url(@mdi/font/scss/materialdesignicons.scss);
@use 'vuetify/settings';

@forward '@sgpinkus/mdi-font/scss/materialdesignicons.scss' with (
  $mdi-version: "0",
  $mdi-font-path: "@sgpinkus/mdi-font/fonts",
);
$mdi-version: "0" !important;

.v-list-group__items .v-list-item {
  padding-inline-start: 16px !important;
}

.v-list { padding: 0; }

html {
  overflow: auto;
}

h1, p {
  margin-bottom: 1rem;
}

a:link {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: inherit;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  background-color: transparent;
  text-decoration: underline;
}
